.post{
    width: 385px;
    margin: 0px 60px 20px 65px;
}
.postImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}
.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postCat{
    font-family: 'Varela', sans-serif;
    font-size: 16px;
    color: #be9656;
    line-height: 20px;
    margin-top: 10px;
    margin-right: 15px;
}
.postTitle{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;

}
.postDate{
    font-family: 'Varela', sans-serif;
    font-size: 16px;
    margin-top: 1px;
    color: #be9656;
}
.postDesc{
    font-family: 'Varela', sans-serif;
    font-size: 16px;
    margin-top: 15px;
    color: #be9656;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical;
}